<vw:section name='content'>
	<module>Error404</module>
	<div class='container fluid all-height ' style='position:fixed;top:0;left:0;'>

		<div class='valign all-height container fluid color-back-text'>
			<div class='valign-wrapper container all-height'>
				<div class='container fluid text-center'>
					<h1><i class='material-icons'>error</i> Lo sentimos</h1>
					<h4>La página solicitada no fue encontrada.  <a href='${context.uiUrl}' class='color-back-text-2'>Volver al inicio</a></h4>
				</div>
			</div>
		</div>

	</div>

</vw:section>
<vw:import name='master' argument='({title:"Página no encontrada | Xports"})'></vw:import>
