<div class='container fluid body' voxs voxs-if='novalid'>
	<div class='container red lighten-5 text-center'>
		<div class='container fluid text-red darken-2' style='padding:20px'>
			<span voxs>#{errorMsg} </span>
		</div>
	</div>
</div>