<vw:section name='content'>

	<div class='login'>
		<module>logincontroller</module>
		<form voxs event-submit='login_submit'>
			<div class='row' align='center' style='margin-top: 80px'>
				<div class='col s10 sl7 m5 l4 wp' align="left">
					<div class='container white fluid shadow-2'>


						<div class='container fluid text-center color-hue-4' style='padding: 18px'>
							<div class='container fluid text-center text-white' style='width:85%;padding: 15px'>
								<!--<img class='s10 sl8 responsive-img' src='#${context.assetUrl}img/logo2.png'/>-->
								<h1>DoStream</h1>
								<i class='fa f3em fa-user'></i>
							</div>
						</div>

						<div class='container fluid color-back-hue-3'>

							<div class='container' style='padding:30px;padding-top:0;padding-bottom: 30px'>
								<div class='input-field' data-activecolor='color-default'>
									<label><span voxs>#{idioma.board.login_module.user}</span>:</label>
									<input name='usuario' type='text'/>
								</div>
								<div class='input-field' data-activecolor='color-default'>
									<label><span voxs>#{idioma.board.login_module.pass}</span>:</label>
									<input name='contraseña' type='password'/>
								</div>


								<div style='padding: 20px'></div>
								<div class='container fluid text-right'>
									<button class='await-action button container fluid waves-light color-default color-text'>
										<span voxs><span voxs>#{idioma.board.login_module.login}</span></span>
									</button>

									<div class='container fluid text-left clearfix' style='margin-top:10px;'>



										<div style='padding-top:10px;'>

									</div>
									</div>
								</div>

							</div>

						</div>
					</div>
				</div>
			</div>
		</form>

	</div>
</vw:section>
<vw:import name='master'></vw:import>
