<vw:section name='content'>
	<module>maincontroller</module>
	<div class='row' align='center' style='padding:30px 0'>
		
		<div class='col s12 sl11' voxs voxs-if='opcion == 0' align='left'>
			
			<div class='container fluid  white' style='border:solid 1px rgb(230,230,230);padding:2em'>
				
				
				
						<!--
						<div voxs-if='app.url'  voxs class='collection-item'>
							<div voxs voxs-if='! app.waiting'>
								<form event-submit='ejecutarApp' voxs>
									<h3 voxs>#{ app.displayName || app.name }</h3>
									<h5 class='text-gray darken-1' voxs-if='app.note' voxs>#{app.note}</h5>
									<div class='input-field' data-activecolor='color-default'>
										<label>URL</label>
										<input type='text' value='#{app.link}' voxs/>
									</div>
								</form>
							</div>
							<div d-if='app.waiting'>
								<i class='fa fa-spin fa-spinner'></i>
								Cargando aplicación
							</div>
						</div>
						-->
				<div vox voxs-if='estado == 1'>
					<div class='container fluid'>
						<h3>Instalar aplicación</h3>
					</div>
					
					<form event-submit='ejecutarApp1' voxs>
						<div class='input-field' data-activecolor='color-default'>
							<label>URL</label>
							<input type='text' value='#{app1.link}' voxs/>
						</div>
						<div class='input-field' data-activecolor='color-default'>
							<label>Clave / llave</label>
							<input type='text' value='#{app1.key}' voxs/>
						</div>
						<div style='padding:10px'></div>
						<span d-nif='app1.waiting'>
							<button class='button color-default color-text waves-effect s6'>
								Aceptar
							</button></span><span d-if='app1.waiting'>
							<a style='vertical-align:middle' disabled class='button color-default color-text waves-effect s6'>
								Cargando ...
							</a></span><a style='vertical-align:middle' class='button gray lighten-4 text-black waves-effect s6' @click='cancelar'>
							Cancelar
						</a>
					</form>
				</div>
				
				<div vox voxs-if='estado != 1'>
					<div class='container fluid'>
						<h3>Aplicaciones instaladas</h3>
					</div>
					
					
					<div class='padding'></div>
					<div voxs  class='container fluid'>
						<a class='button color-default color-text waves-effect' style='display:block' href='javascript:void 0' voxs event-click='instalarApp'>
							<div style='padding:10px'>
								<h4>
									<i class='fa fa-download'></i>
									&nbsp;&nbsp;
									Instalar aplicación desde URL
								</h4>
							</div>
						</a>
					</div>
				
					<div voxs  voxs-if='apps_length == 0' class='collection gray lighten-4'>
						<div class='collection-item'>
							<div style='padding:10px'>
								<h4>No tiene ninguna aplicación instalada</h4>
							</div>
						</div>
					</div>
					
					
					
					<div voxs-if='apps_length > 0'>
						<div voxs  class='collection gray lighten-5' voxs-repeat voxs-name='apps' voxs-var='app'>
							<a voxs-if='! app.url' href='javascript:void(0)' voxs event-click='ejecutarApp' class='relative collection-item'>
								<div style='position:absolute;top:1.5em;left:1em;'>
									<i class='#{app.iconclass} f2em' voxs></i>
								</div>
								<div style='padding-left:50px'>
									<h3 voxs>#{ app.displayName || app.name }</h3>
									<h5 class='text-gray darken-1' voxs-if='app.note' voxs>#{app.note}</h5>
									<div voxs class='text-gray darken-1'>#{app.description}</div>
								</div>
							</a>
						</div>
					</div>
				</div>
				
				
			</div>
			
		</div>
		
		
		<div class='col s12 sl10 m8 ml6' voxs voxs-if='opcion == 1'>
			<div class='container fluid padding z-depth-1 white'>
				<span voxs voxs-if='opcion < 3'>Total productos sincronizados: <span voxs>#{count}</span></span>
				<span voxs voxs-if='opcion == 3'>Descargando imágenes: <span voxs>#{count}</span></span>
				<div voxs voxs-if='loading'>
					<span><i class='fa fa-spin fa-spinner'></i> Sincronizando</span>
				</div>
				<div voxs voxs-if='! loading'>
					<h2>Proceso <span voxs voxs-if='error'>ha fallado!</span>
					<span voxs voxs-if='! error'>completo!</span> <a voxs event-click='opcion0()' class='text-color-default' href='javascript:void(0)'>Volver</a></h2>
				</div>
			</div>
		</div>
		
		
		
		
	</div>
	
	
	
</vw:section name='content'>
<vw:import name='master'></vw:import>