<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<meta name="keywords" content="virtual printer">



<!--SEO-->
<meta name="description" content="Impresora virtual PDF">

<meta property="og:title" content="NoPrint" />
<meta property="og:description" content="Impresora virtual PDF"/>
<meta property="og:type" content="${context.arguments.type || 'website'}"/>



<vw:if expression='context.arguments.image'>
	<meta property="og:image:url" content="${context.arguments.image.url}"/>
	<meta property="og:image:secure_url" content="${context.arguments.image.secure_url}"/>
</vw:if>

<meta name="twitter:card" content="photo"/>

<meta name="referrer" content="never" />
<meta name="referrer" content="no-referrer" />
