

<div class='modal-container' voxs-scope='modal'>

    <div style='background-color:transparent;' class='modal modal-confirm s10 sl9 m6 shadow-3' data-escape-disabled='true' data-closeonouterclick-disabled='true'>



        <div class='modal-content font-zoom' style='padding:0'>

        	<div style='padding:0 1.3em;' class='color-back-default color-back-text clearfix darken-2 modal-title' align='center'>
            	<h3 voxs class='sitio-titulo'>#{modalConfirm.title}</h3>

            </div>

            <div class='modal-part color-back-hue-3 darken-3'>
	            <div class='sitio-descripcion text-justify'>

                    <!--<form voxs event-submit='form-submit'>-->
                        <div class='padding '>

                            <p style='border-bottom: solid 1px rgb(210,210,210); padding-bottom: 10px;' voxs class='text-justify'>
                                #{modalConfirm.text}
                            </p>

                            <div class='container fluid text-right'>

                                <div class='text-right'>
                                    <button  voxs event-click='modalConfirm.confirm' class='await-action button color-default color-text'><span voxs>#{modalConfirm.confirmText}</span></button>

                                    <button voxs event-click='modalConfirm.cancel' class='await-action button color-accent-default color-accent-text'><span voxs>#{modalConfirm.cancelText}</span></button>
                                </div>

                            </div>
                        </div>
                    <!--</form>-->

            	</div>

            </div>
        </div>

        <script type='vox' lang='vox' vox-name='vox-outerclick'>
            (function(ev){
                console.log(ev);
                ev.modal.close();
            })
        </script>
    </div>
</div>
