<!--<meta name="viewport" content="width=device-width, initial-scale=1.0" ></meta>-->
<!--<script type="text/javascript" src="https://momentjs.com/downloads/moment-with-locales.min.js"></script>-->



<script>
	if(!window._require&& typeof require=="function")
		window._require=require
	window.module=undefined 
	window.require= undefined 
	window.exports= undefined 
</script>




<!--<script type="text/javascript" src="/site/org.kodhe.sribot/static/e/1/js/jquery.min.js"></script>
<script type="text/javascript" src="/site/org.kodhe.sribot/static/e/1/js/kodhe/kodhe.core.js"></script>
<script type="text/javascript" src="/site/org.kodhe.sribot/static/e/1/js/kodhe/kodhe.core.web.js"></script>
<script type="text/javascript" mainpath="/site/org.kodhe.sribot/static/e/1" src="/site/org.kodhe.sribot/static/e/1/js/kodhe/kodhe.css.js"></script>-->




<script type='text/javascript'>
	
	(function(){
		if(window.program)
			return 
			
		window.IDIndex='0'
		var paths= [
			
			"/static/e/1/js/jquery.min.js",
			"/static/e/1/js/kodhe/kodhe.core.js",
			"/static/e/1/js/kodhe/kodhe.core.web.js",
			"/static/e/1/js/kodhe/kodhe.css.js",
			"/static/e/16/js/program.js",
			"/static/e/1/js/moment-with-locales.min.js"
		]
		
		
		
		window.waitJquery= function(g){
			var exe=function(){
				if(window.jQuery){
					g() 
				}
				else {
					setTimeout(exe,10)		
				}
			}
			exe()
		}
		
		window.waitCore= function(g){
			var exe=function(){
				if(window.core){
					g() 
				}
				else {
					setTimeout(exe,10)		
				}
			}
			window.waitJquery(exe)
		}
		window.waitCoreVW= function(g){
			var exe=function(){
				if(window.core && window.core.VW ){
					g() 
				}
				else {
					setTimeout(exe,10)		
				}
			}
			window.waitCore(exe)
		}
		
		
		window.waitReady= function(g){
			var exe=function(){
				if(window.core && window.core.VW && window.core.VW.Web){
					g() 
				}
				else {
					setTimeout(exe,10)		
				}
			}
			exe()
		}
		
		
		var prefix= location.pathname 
		var len= 1
		var parts= prefix.split("/")
		
		if(prefix.startsWith("/::")){
			len= 2
			if(parts[2]=="site"){
				len+= 2
			}
		}
		else{
			if(parts[1]=="site"){
				len+= 2
			}
		}
		var s 
		window.prefix= prefix=parts.slice(0, len).join("/")
		
		
		window.app= {
			uiUrl: prefix ,
			apiUrl: prefix + "/api"
		}
		
		
		var p , scripts=[]
		for(var i=0;i<paths.length;i++){
			p= paths[i]
			if(p.substring(p.length-4)==".css"){
				s= document.createElement("link")
				s.rel="stylesheet"
				s.href= prefix + paths[i]
				document.head.appendChild(s)
			}
			else{
				s= document.createElement("script")
				s.src= prefix + paths[i]
				s.type='text/javascript'
				s.setAttribute("mainpath", prefix + "/static/e/0/")
				scripts.push(s)
			}
			
		}
		
		document.head.appendChild(scripts[0])
		window.waitJquery(function(){
			document.head.appendChild(scripts[1])
		})
		
		
		window.waitCore(function(){
			document.head.appendChild(scripts[2])
		})
		
		window.waitCoreVW(function(){
			for(var i=3;i<scripts.length;i++){
				document.head.appendChild(scripts[i])
			}	
		})
		
		
	})()
	
	
</script>



<!--<script type="text/javascript" src="/site/org.kodhe.sribot/static/e/1/js/sribot01.js"></script>-->

<script type="text/javascript">
	/*global core*/
	window.init= function(){
		
		(function(){
			
			init.$=true

			// Iniciar aplicación ...
			var t= $("background").text()
			if(t){
				$("html").removeClass("color-back-default")
				$("html").addClass(t)
			}


			core.VW.Web.Elements.Theme.create().primaryPalette({
				"default": "red:default",
				"hue-1": "red:lighten1",
				"hue-2": "red:darken3",
				"hue-3": "red:darken2",
				"hue-4": "gray:lighten5",
				"text-1": "white:default",
				"text-3": "green:lighten1",
				"text-4": "brown:darken2"
			}).accentPalette({
				"default": "cyan:darken1",
				"hue-1": "cyan:default",
				"hue-2": "cyan:darken4",
				"hue-3": "lightblue:lighten4",
				"hue-4": "gray:darken3",
				"text-1": "gray:darken4",
				"text-3": "gray:darken4",
				"text-4": "white:default"
			}).warnPalette({
				"default": "red:lighten4",
				"text": "red:darken2",
				"hue-1": "orange:lighten4",
				"text-1": "orange:darken2"
			}).backgroundPalette({
				"default": "gray:lighten5",
				"hue-2": "deeporange:default",
				"hue-1": "brown:darken4",
				"hue-3": "white:default",
				"hue-4": "brown:darken2",
				"text": "gray:darken3",
				"text-3": "brown:darken3",
				"text-2": "white:default",
				"text-1": "white:default",
				"text-4": "gray:darken2",
			})


			core.VW.Web.Elements.register()

			var p=new core.dynvox.v2.DomParser()
			//p.init()
			p.parse($("html"))
			
			init.do()
			setTimeout(function(){
				$(window).resize()
			})

			window.program.WebSite.Application.current.start()	
			$("[data-mask]").each(function(){
				$(this).mask($(this).data("mask"))
			})


			
		})()

	}
	init.do= function(call){
		if(call)
			init.d.push(call)
		if(init.$){
			setTimeout(function(){
				while(call=init.d.shift()){
					call()
				}
			}, 40)

		}
	}
	window.waitReady(function(){
		init()
		
		//$(".toast1").addClass(".toast").voxtoast()
		/*
		var allPs=[]
		core.VW.Web.Vox.mutation.watchAppend($("body"), function(a){
			a.jTarget.each(function(){
				var ps= this.ps= new window.PerfectScrollbar(this)
				allPs.push(ps)
				var u= $(this), w, h 
				u.hover(function(){
					if(u.outerWidth()!= w || u.outerHeight()!= h){
						w= u.outerWidth()
						h= u.outerHeight()
						ps.update()
					}
				})
			})
		}, ".pscroll")
		*/
	})
	init.d=[]
</script>


