<!--<link rel="stylesheet" type="text/css" href="/static/e/0/css/vox.css"/>-->
<link rel="stylesheet" type="text/css" href="/static/e/0/css/vprinter.css"/>
<link rel="icon" type="image/png" href="/img/favicon.png"/>
<link rel="icon" type="image/ico" href="/img/favicon.ico"/>

<style>
	module, background{
		display: none;
	}
	.show-at-start{
		display:none;
	}
	.before{
		padding-top:70px;
	}
	.button{
		box-shadow:none !important;
		border:solid 1px rgb(240,240,240) !important;
	}
	.collection-item, .collection{
		border-color: rgb(240,240,240) !important;
	}
</style>
