
<div voxs class='toast color-warning-default color-warning-text error template shadow-1' data-delay='5000'>
</div>
<div voxs class='toast color-accent-hue-3 color-accent-text-3 info template shadow-1' data-delay='15000'>
</div>
<div voxs class='toast color-warning-hue-1 color-warning-text-1 warning template shadow-1' data-delay='5000'>
</div>
