module {
  display: none;
}
.nav {
  height: 54px;
  top: 0;
}
.nav .brand-logo {
  font-size: 1.6em;
}
.toast-container {
  z-index: 9999;
}
.padding {
  padding: 1em;
}
body {
  overflow-x: hidden;
  overflow-y: auto;
}
.row.wr,
.col.wr {
  margin: 0 !important;
}
.row.wp,
.col.wp {
  padding: 0 !important;
}
.color-preview {
  padding: 0.5em 1em;
  margin-right: 10px;
  border: solid 1px #e6e6e6;
}
.modal-container {
  z-index: 10000;
}
.menu-options a {
  border-right: solid 1px #b4b4b4;
  padding: 0 8px;
  display: inline-block;
}
.menu-options a .fa,
.menu-options a .material-icons {
  vertical-align: baseline;
}
.padding {
  padding: 1em;
}
.group-title {
  margin-bottom: 16px;
  padding-bottom: 8px;
  border-bottom: solid 1px #f0f0f0;
}
.text-ellipsis {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.propiedad {
  background-color: #f8f8f8;
}
.upper {
  text-transform: uppercase;
}
module {
  display: none;
}
.tooltip {
  font-size: 0.84em;
}
.fa {
  vertical-align: middle;
}
.message-float {
  font-weight: 300;
  position: fixed;
  max-width: 90%;
  padding: 20px;
  top: 40px;
  z-index: 999;
  right: 20px;
}
.message-float .close {
  position: absolute;
  right: 15px;
  top: 15px;
}
.g-container {
  /*max-width: 1200px;*/
  margin: auto;
}
.parallax-effect-container {
  z-index: -1;
  position: fixed;
  bottom: 1px;
}
.board .title {
  padding: 15px;
}
.board .before {
  display: block;
  height: 52px;
}
.board .body:not(.mapa) {
  padding-top: 30px;
}
.fb-page,
.fb-page span,
.fb-page iframe {
  width: 100% !important;
}
.padding {
  padding: 20px;
}
.padding-30 {
  padding: 30px !important;
}
/*
.size-s ,.size-m{
	.padding-30{
		padding: 10px !important;
	}
	.padding{
		padding: 8px !important;
	}
}
.size-s{
	.col.pinned{
		padding: 0 !important;
	}
}*/
.navbar-fixed:not(.special) .nav {
  padding-right: 240px;
}
.size-sl .navbar-fixed:not(.special) .nav,
.size-s .navbar-fixed:not(.special) .nav {
  padding-right: 0;
}
.title {
  width: 100%;
  padding-bottom: 8px;
  margin-bottom: 10px;
  border-bottom: solid 1px #e6e6e6;
}
.cover-1 {
  background-size: cover !important;
  background-repeat: no-repeat;
  background-position: top center;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
}
.cover-1:hover {
  width: 120%;
  top: -10%;
  left: -10%;
  height: 120%;
}
.categorias {
  padding: 8px 10px;
}
.leaflet-marker-icon {
  width: auto !important;
  height: auto !important;
}
.point-map {
  border-radius: 45%;
}
.point-map a {
  font-family: Roboto;
  padding: 0.4em 0.8em;
  font-size: 1.13em;
  font-weight: bold;
  display: block;
}
.point-map a.has-image {
  font-size: 1.3em;
  background-position: center center;
  background-size: cover !important;
}
.point-map.w-icono a {
  padding-left: 0.5em;
  padding-right: 0.5em;
}
.map-container {
  position: fixed;
  top: 0;
  padding-top: 52px;
}
.cat-line {
  height: 3px;
  width: 100%;
  position: absolute;
  left: 0;
  bottom: 0;
}
.title {
  box-shadow: none !important;
  border-bottom: solid 1px #dcdcdc;
}
.item {
  padding: 20px;
}
.title.kpi h1 {
  border-bottom: solid 1px #dcdcdc;
}
.pre-loading {
  z-index: 1000000;
  position: fixed;
  height: 100%;
  left: 0;
  top: 0;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.98);
}
.ino-purple {
  background-color: #7952aa;
}
.text-ino-purple {
  color: #7952aa;
}
.table-list tr td {
  padding: 0.2em 1em;
}
.table-list thead tr td {
  background: #ebebeb;
  border: solid 1px #d2d2d2;
}
.table-list tbody tr td {
  border: solid 1px #f0f0f0;
}
.legend {
  position: absolute;
  bottom: 40px;
  right: 40px;
  background: rgba(0, 0, 0, 0.25);
  padding: 20px;
}
.item {
  padding: 20px;
}
.portada {
  background-position: top left;
  background-size: cover !important;
  height: 100% !important;
  min-height: 400px;
  /*
	.img{
		background-image: url(../img/portada.jpg);
		&.hostdream{
			background-image: url(../img/server.jpg);
		}
	}*/
}
.portada.small {
  height: 250px;
}
.terminos p {
  text-align: justify;
}
.eventos .liga {
  height: 22px;
  margin-right: 12px;
}
.marginauto {
  margin: auto;
}
