module{
	display: none;
}


.nav{
	height: 54px;
	top:0;
	.brand-logo{
		font-size: 1.6em;
	}
}

.toast-container{
	z-index:9999;
}

.padding{
	padding: 1em;
}


body{
	overflow-x: hidden;
	overflow-y: auto;
}