.board{
	.title{
		padding: 15px;

	}
	.before{
		display: block;
		height:52px;
	}

	.body:not(.mapa){
		padding-top: 30px;
	}
}

.fb-page,.fb-page span, .fb-page iframe{
	width: 100% !important;
}
.padding{
	padding: 20px;
}
.padding-30{
	padding: 30px !important;
}
/*
.size-s ,.size-m{
	.padding-30{
		padding: 10px !important;
	}
	.padding{
		padding: 8px !important;
	}
}
.size-s{
	.col.pinned{
		padding: 0 !important;
	}
}*/

.navbar-fixed:not(.special){
	.nav{
		padding-right: 240px;
		.size-sl &, .size-s &{
			padding-right: 0;
		}
	}


}

.title{
	width: 100%;
	padding-bottom: 8px;
	margin-bottom: 10px;
	border-bottom: solid 1px rgb(230,230,230);
}
.cover-1{
	background-size: cover !important;
	background-repeat: no-repeat;
	background-position: top center;
	width: 100%;
	position: absolute;
	top:0;
	left:0;
	height: 100%;
}

.cover-1:hover{
	width:120%;
	top:-10%;
	left:-10%;
	height:120%;
}


.categorias{
  padding:8px 10px;
}

.leaflet-marker-icon{
  width:auto !important;
  height: auto !important;
}
.point-map{
  border-radius: 45%;

}

.point-map a{
  font-family: Roboto;
  padding:0.4em 0.8em;
  font-size:1.13em;
  font-weight: bold;
  display: block;

  &.has-image{
  	font-size: 1.3em;
  	background-position: center center;
  	background-size: cover !important;
  }

}

.point-map.w-icono a{
  padding-left: 0.5em;
  padding-right: 0.5em;
}

.map-container{
	position: fixed;
	top:0;
	padding-top: 52px;
}

.cat-line{
	height:3px;
	width: 100%;
	position: absolute;
	left:0;
	bottom: 0;

}

.title{
	box-shadow: none !important;
	border-bottom: solid 1px rgb(220,220,220);
}

.item{
	padding:20px;
}

.title.kpi h1{
	border-bottom:solid 1px rgb(220,220,220);
}

.pre-loading{
	z-index: 1000000;
	position: fixed;
	height: 100%;
	left:0;
	top:0;
	width: 100%;
	background-color: rgba(255,255,255,0.98);
}




.ino-purple{
	background-color: #7952aa;
}


.text-ino-purple{
	color:#7952aa;
}


.table-list{
	tr td{
		padding: 0.2em 1em;
	}
	thead{

		tr td{
			background:rgb(235,235,235);
			border:solid 1px rgb(210,210,210);
		}
	}

	tbody tr td{
		border:solid 1px rgb(240,240,240);
	}

}

.legend{
	position: absolute;
	bottom: 40px;
	right: 40px;
	background:rgba(0,0,0,0.25);
	padding:20px;
}

.item{
	padding:20px;
}
