
.row, .col{
	&.wr{
		margin:0 !important;
	}
	&.wp{
		padding: 0 !important;
	}
}

.color-preview{
	padding: 0.5em 1em;
	margin-right: 10px;
	border:solid 1px rgb(230,230,230);
}
.modal-container{
	z-index: 10000;
}
.menu-options{
	a{
		border-right: solid 1px rgb(180,180,180);
		padding: 0 8px;
		display: inline-block;

		.fa,.material-icons{
			vertical-align: baseline;
		}
	}
}


.padding{
	padding: 1em;
}
.group-title{
	margin-bottom: 16px;
	padding-bottom: 8px;
	border-bottom: solid 1px rgb(240,240,240);
}

.text-ellipsis{
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
}
.propiedad{
	background-color: rgb(248,248,248);
}

.upper{
	text-transform: uppercase;
}
module{
	display: none;
}

.tooltip{
	font-size:0.84em;
}
.fa{
	vertical-align: middle;
}


.message-float{
	font-weight: 300;
	position: fixed;
	max-width: 90%;
	padding: 20px;
	top: 40px;
	z-index: 999;
	right: 20px;

	.close{
		position: absolute;
		right: 15px;
		top:15px;
	}
}


.g-container{
	/*max-width: 1200px;*/
	margin: auto;
}


.parallax-effect-container{
	z-index: -1;
	position: fixed;
	bottom:1px;
}
