
.portada{

	background-position: top left;
	background-size: cover !important;
	height:100% !important;
	min-height: 400px;

	&.small{
		height: 250px;
	}
	/*
	.img{
		background-image: url(../img/portada.jpg);
		&.hostdream{
			background-image: url(../img/server.jpg);
		}
	}*/
}



.terminos p{
	text-align: justify;
}

.eventos{
	.liga{
		height: 22px;
		margin-right: 12px;
	}
}

.marginauto{
	margin: auto;
}
